<!DOCTYPE html>
<html class="no-js">
<%= render 'head' %>
<body id='<%= @body_id %>'>
  <div id="wrap">
    <section class="main-content">
      <%= yield %>
    </section>
  </div>
  <!-- Back To Top -->
  <a id="back-to-top" href="#" class="text-center">
    <i class="icon-angle-up icon-2x"></i>
  </a>
  <!-- End Back to Top -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <%= render 'javascripts' %> 
</body>  
</html>